header{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid grey;
    padding:  1.0625rem 7.5rem;
    display: flex;
    align-items: center;
}
.containerHeader{
    width: 1164px;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}