main{
    width: 100%;
    padding: 1.375rem  0.875rem;
    display: flex;
}
.container__columDir{
    display: none;
}
.container__columEsq{
    margin: 0 auto;
    height: 332px;
    width: 331px;
    display: flex;
    flex-direction: column;
}
.title{
    width: 100%;
    height: 53px;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}
.selectHome{
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
}
option{
    width: 100%;
}
.containerLista{
    width: 100%;
    display: flex;
}
ul{
    width: 100%;
    list-style: none;
    padding: 25px 20px 42px 20px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 19px;
    border: 1px solid transparent;
    background-color: var(--brancoEscuro);
}
ul::-webkit-scrollbar{
    width: 9px;
    background-color: var(--brancoEscuro);
}
ul::-webkit-scrollbar-thumb{
    background-color: var(--blue);
}
li{
    min-width: 241px;
    height: 211px;
    border-bottom: 1px solid var(--blue);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 74px;
    padding: 13px 15px;
}
.textCardHome{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
@media (min-width: 1440px){
    main{
         gap: 60px;
         padding: 43px 140px;
    }
    .container__columDir{
        width: 550px;
        height: 743px;
        display: flex;
    }
    .container__columDir figure{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .container__columDir figure > img{
        width: 100%;
        height: 100%;
    }

    .container__columEsq{
       width: 550px;
       height: 743px;

    }
    .selectHome{
        width: 100%;
        height: 52px;
    }
    .containerLista{
        height: 691px;
    }
    ul{
        flex-direction: column;
    }
    li{
        height: max-content;
        gap: 13px;
    }
}